<script>
  import { getId, getBooleanFrom } from './utils/utils.js'
  import Row from './Row.svelte'
  import Label from './Label.svelte'
  import Tooltip from './Tooltip.svelte'
  import { i18nTranslate } from './utils/i18n.js'
  
  export let clazz ='', disabled=false, fading=true, i18n, icon, id, indented=false, indentedLabel='', inline=false, label, maximize=false, maximizeLabel=false, node, primary=false, ref, selected=false, 
         small=false, style='', tooltip='', tooltipOptions={}

  small = getBooleanFrom(small)
  disabled = getBooleanFrom(disabled)
  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)
  inline = getBooleanFrom(inline)
  indented = getBooleanFrom(indented)
  id = id || getId()
  
  if (label) label = i18nTranslate(RED, node, i18n, label)

  tooltipOptions.icon = false
  // set tooltip to container id to allow tooltips shown/hide if button is disabled
  // only downside: will show tooltip on empty space if intended
  tooltipOptions.target = 'sir-Button-container-' + id
  
  $: { 
    if (label) label = i18nTranslate(RED, node, i18n, label) 
  }
</script>

<style>
  .sir-Button { width: fit-content; }
  .minWidth { min-width: 33px; } /* font-awesome icons can be different in width -> leads to minimal different button size */  
  .red-ui-button-small { min-width: 21px; }
  :global(button.red-ui-button.sir-Button:not(.primary):not(.disabled):not(:disabled):hover) {
    background: var(--red-ui-secondary-background-hover);
  }
  .maximize { 
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
  :global(.sir-Button-container:has(button.sir-Button:disabled)) {
    cursor: not-allowed; /* pointer events:none does not allow change cursor*/
  }
  button:disabled {
    pointer-events: none;
    color: var(--red-ui-workspace-button-color-disabled);
  }
</style>

{#if tooltip}
  <Tooltip {tooltip} {tooltipOptions}/>
{/if}
<Row id="sir-Button-container-{id}" clazz="{clazz} sir-Button-container" {inline} {fading} bind:ref>
  {#if indented}
    <Label label={indentedLabel} notClickable maximize={maximizeLabel}/>
  {/if}
  <button {id} {style} {disabled} type="button" on:click|stopPropagation on:mousedown|stopPropagation on:mouseup|stopPropagation on:mouseenter|stopPropagation on:mouseleave|stopPropagation
    class='red-ui-button sir-Button' class:maximize class:selected class:red-ui-button-small={small} class:primary={primary && !disabled} >
    {#if icon}
      <i class="fa fa-{icon}"></i> 
    {/if}
    {label || ''}
  </button>
</Row>