<script>
  import { getId, getBooleanFrom } from './utils/utils.js'
  import Row from './Row.svelte'
  import Label from './Label.svelte'
  import { i18nTranslate } from './utils/i18n.js'
  export let clazz ='', fading=true, i18n, icon, id, indented=false, inline=false, label='', node, maximize=false, maximizeLabel=true, ref, style=''

  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)
  inline = getBooleanFrom(inline)
  indented = getBooleanFrom(indented)
  id = id || getId()
  
  if (maximize) clazz += ' maximize'

  if (label) label = i18nTranslate(RED, node, i18n, label)
  $: { 
    if (label) {
      label = i18nTranslate(RED, node, i18n, label) 
    }
  }
</script>

<style>
  :global(.sir-ButtonGroup) {
    display: inline-flex;
  }
  :global(.sir-ButtonGroup > .sir-Button-container:not(:last-child)) {
    margin: 0px;
  }
  :global(.sir-ButtonGroup button) {
    border-radius: 0px;
    border-left: 0px;
  }
  :global(.sir-ButtonGroup .sir-Button-container:first-of-type button) {
    border: 1px solid var(--red-ui-form-input-border-color);
  }
</style>

<Row id="sir-ButtonGroup-{id}" clazz="{clazz} sir-ButtonGroup" {inline} {fading} {style} {maximize} bind:ref>
  {#if label}
    <Label {id} {icon} {label} on:mouseenter on:mouseleave maximize={maximizeLabel}/>
  {:else if indented}
    <Label notClickable/>
  {/if}
  <slot />
</Row>
