<script>
  import Row from './Row.svelte'
  import Button from './Button.svelte'
  import { getBooleanFrom, getId } from './utils/utils.js'
  export let clazz="", closeable=false, fading=true, icon, id, indented=false, ref, show=true, style="", small=false, type='info'

  id = id || getId()
  indented = getBooleanFrom(indented)
  closeable = getBooleanFrom(closeable)
  show = getBooleanFrom(show)
  small = getBooleanFrom(small)

  if (type === 'danger') type = 'error'
  let customIcon = false
  if (icon) {
    customIcon = true
    icon = icon.trim()
    if (!icon.startsWith('fa fa-')) {
      if (icon.startsWith('fa-')) icon = 'fa ' + icon
      else icon = 'fa fa-' + icon
    }
  }
  
  let sizeClasses = {
    "icon": small ? "sir-Callout-icon-small" : "sir-Callout-icon",
    "content": small ? "sir-Callout-content-small" : "sir-Callout-content",
    "close": small ? "close-button-small" : "close-button"
  }

  // get the background color by root variable and reduce opacity
  // if background root variable is one day not hex anymore, use rgba(var(--red-ui-border-color-warning), 0.2) in css directly
  if (type === 'warning' || type === 'success' || type === 'error') {
    const r = document.querySelector(':root');
    let backgroundColor = getComputedStyle(r).getPropertyValue('--red-ui-text-color-' + type).trim()
    if (backgroundColor.startsWith('#')) {
      if (backgroundColor.length === 4) {
        // double all digits except the '#'
        backgroundColor = backgroundColor.split('').map(hex => hex + hex).join('').substring(1)
      }
      style = 'background-color: ' + backgroundColor + 20 +'; ' + style
    }
  }

  $: {
    if (!customIcon) {
      switch(type) {
        case 'info':
          icon = 'fa fa-info-circle'
          break
        case 'warning':
          icon = 'fa fa-exclamation-triangle'
          break
        case 'error':
          icon = 'fa fa-window-close'
          break
        case 'success':
          icon = 'fa fa-check-circle'
          break
        default:
          icon = 'fa fa-info-circle'
      }
    }
  }
</script>

<style>
  :global(.sir-Row.sir-Callout) {
    display: flex; 
    align-items: center; 
    margin-bottom: 12px; 
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: var(--red-ui-primary-border-color); /*# 7e7e7e; */
    background-color: var(--red-ui-primary-background); /* #e4e4e4; */
    color: var(--red-ui-primary-text-color) /* #202020; */
   }
  :global(.sir-Row.sir-Callout.sir-Callout-indented) {
    margin-left: 112px;
  }
  .sir-Callout-icon   { padding-left: 30px; margin-right: 0px; }
  .sir-Callout-icon i { font-size: 3em; min-width: 50px; }

  .sir-Callout-icon-small   { padding-left: 10px; margin-right: 7px; }
  .sir-Callout-icon-small i { font-size: 1.5em; min-width: 25px; }

  .sir-Callout-content { 
    padding: 15px 7px;
  }
  .sir-Callout-content-small { padding: 3px; }

  :global(.sir-Callout-content :is(p, div, span):last-child) {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .hasButton {
    padding-right: 5px;
  }
  .close-button {
    margin-bottom: auto;
    margin-left: auto;
    margin-top: 6px;
    margin-right: 6px;
  }
  .close-button-small {
    margin-left: auto;
    margin-right: 6px;
  }
  .close-button-small .sir-Button-container { margin-bottom: 0px; }

  :global(.sir-Callout.sir-Callout-info) {
    border-left-color: #325c80;
    background-color: #def0ff;
    color: #325c80;
  }
  :global(.sir-Callout.sir-Callout-warning) {
    border-left-color: var(--red-ui-border-color-warning);
    /* background-color: rgba(var(--red-ui-border-color-warning), 0.8); */
    color: var(--red-ui-text-color-warning);
  }
  :global(.sir-Callout.sir-Callout-error) {
    border-left-color: var(--red-ui-border-color-error);
    /* background-color: rgba(var(--red-ui-border-color-error), 0.8);  */
    color: var(--red-ui-text-color-error);
  }
  :global(.sir-Callout.sir-Callout-success) {
    border-left-color: var(--red-ui-border-color-success);
    /* background-color: #f4fff4; */
    color: var(--red-ui-text-color-success);
  }

  :global(.sir-Callout :is(h1, h2, h3, h4, h5, h6)) {
    margin-top: 0px;
    margin-bottom: 10px
  }
  :global(.sir-Callout.sir-Row) {
    /* enable click text selection -> .sir-Row:not(...) works not always (nested)*/
    user-select: text; /* Chrome and Opera */
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
  }
</style>

{#if show}
  <Row id="sir-Callout-{id}" clazz={clazz + " sir-Callout sir-Callout-" + type + (indented ? ' sir-Callout-indented' : '')} {style} {fading} bind:ref>
    <div class={sizeClasses.icon}><i class={icon}></i></div>
    <div class={sizeClasses.content} class:hasButton={closeable} >
      {#if $$slots.header}
        <h2><slot name="header"></slot></h2>
      {/if}
      <slot />
    </div>
    {#if closeable}
      <div class={sizeClasses.close}>
        <Button icon="close" clazz="sir-Callout-button" inline on:click={ () => show = false } {small} />
      </div>
    {/if}
  </Row>
{/if}
