<script>
  import Row from './Row.svelte'
  import ComponentHeader from './ComponentHeader.svelte'
  import { getBooleanFrom, getId } from './utils/utils.js'
  import { i18nTranslate } from './utils/i18n.js' 
  import { onMount, tick } from 'svelte'
  import { tweened } from 'svelte/motion'
  import { cubicOut } from 'svelte/easing'

  export let border=false, clazz='', collapsed=false, fading=true, i18n, icon, id, indented=true, inline=false, label, maximize=true, maximizeLabel=true, node, openOnlyOnIcon=false, ref, style="", tooltip, tooltipOptions
  
  id = id || getId()
  indented = getBooleanFrom(indented)
  border = getBooleanFrom(border)
  inline = getBooleanFrom(inline)
  collapsed = getBooleanFrom(collapsed)
  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)
  let delayedCollapsed = collapsed // wait for close transition
  // for unknown reasons there was a shadow collapsed... if there is a reason for that, rebuild it // propably recursive building problem in pekfinger...
  // let _collapsed = collapsed

  if (label) {
    label = i18nTranslate(RED, node, i18n, label)
  }

  // collapsible icon styling
  const rotation = tweened(collapsed ? 0 : 90, {
    duration: 400,
    easing: cubicOut
	})
  $: iconStyle = 'transform:rotate(' + $rotation + 'deg);'

  let slotDiv
  let maxSlotHeight = 0
  const slotHeight = tweened(0, {
      duration: 400,
      easing: cubicOut
  })
  
  const handleResize = (initial=false) => {
    if (!collapsed) {
      // opening sequence -> needs to show DOM
      delayedCollapsed = collapsed
    }
    // animateCollapsedComplete = false // keep slot open till animation complete
    let computedSlotHeight = slotDiv?.offsetHeight
    if (collapsed && maxSlotHeight !== computedSlotHeight) {
      // Prevent flickering when the content was changed after DOM created
      slotHeight.set(computedSlotHeight, { duration: 0 })
    }
    if (computedSlotHeight && computedSlotHeight !== 'auto') {
      maxSlotHeight = computedSlotHeight
    }
    if (initial) {
      // We do not want animation on first render
      slotHeight.set(collapsed ? 0 : maxSlotHeight, { duration : 0 })
    } else {
      slotHeight.set(collapsed ? 0 : maxSlotHeight)
    }
    if (collapsed) {
      // closing sequence -> keep DOM till collapsed animating complete
      setTimeout(() => delayedCollapsed = collapsed, 400)
    }
  }

  const handleClick = (path) => {
     // openOnlyOnIcon is a very special case for tree nodes where we only want to open it with the '>' icon
    // as the click event self is still needed for marking on select and e.g. pekfinger show description, we can't deactivate it completly.
    // this is bit dirty, but to change it on componentHeader will bloat the code for a perhabs single use case. Therefore this won't be shown in the Readme.
    if (openOnlyOnIcon && path && !path[0].classList.contains('fa-angle-right')) {
      return
    } else {
      collapsed = !collapsed
      // collapsed = !_collapsed
    }
  }

  const animateSlot = () => {
    if (collapsed) {
      rotation.set(0)
    } else {
      rotation.set(90)
    }
    handleResize()
  }
  
  onMount(() => {
    // handleResize(true)
  })

  $: animateSlot(collapsed)
  $: classes = clazz + " sir-Collapsible" + (collapsed ? "" : " sir-Collapsible-open")
  $: slotHeightStyle = 'height: ' + (!collapsed && $slotHeight === maxSlotHeight ? '100%;' : $slotHeight + 'px;')
</script>

<style>
  .sir-Collapsible-border { padding: 12px; }  
  .sir-Collapsible-content { 
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    overflow: hidden;
  }
  :global(.sir-Row.sir-Collapsible, .sir-Collapsible) {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }

  :global(.sir-Collapsible .sir-Collapsible-content .sir-Row:last-child) { margin-bottom: 0px;}

  :global([id^='sir-Collapsible-'].sir-Collapsible .sir-Collapsible-content) {
    display: inline-flex;
    flex-direction: column;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-top: 6px;
  }
  :global(.sir-Collapsible-content.sir-Collapsible-indented) {
    margin-left: 12px;
  }
</style>

<Row id="sir-Collapsible-{id}" bind:clazz={classes} {inline} {fading} {style} {maximize} bind:ref>
  {#if label || $$slots.header}
    <ComponentHeader {label} labelFor="sir-Collapsible-{id}-content" id="sir-Collapsible-{id}" {icon} isCollapsible {openOnlyOnIcon} {tooltip} {tooltipOptions} maximize={maximizeLabel} bind:iconStyle
    on:click={(event) => handleClick(event.composedPath())} on:mouseenter on:mouseleave on:click on:dblclick on:dragenter on:dragleave on:drop on:dragover>
      <svelte:fragment slot="headerExtension">
        <slot name="header" />
      </svelte:fragment>
    </ComponentHeader>
  {:else if $$slots.customHeader}
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <!-- svelte-ignore a11y-no-static-element-interactions -->
    <div class="sir-Collapsible-customHeader" on:mouseenter on:mouseleave on:click on:dblclick on:dragenter on:dragleave on:drop on:dragover>
      <slot name="customHeader" {iconStyle} />
    </div>
  {/if}
  {#if !delayedCollapsed}
  <!-- keep slotDiv class for downward compatibility... but it's an depcreated class -->
    <div bind:this={slotDiv} id="sir-Collapsible-{id}-content" 
      class="content slotDiv sir-Collapsible-content" 
      class:sir-Collapsible-indented={indented} 
      class:sir-Collapsible-collapsed={collapsed}
      class:red-ui-editableList-border={border} 
      class:sir-Collapsible-border={border}
      style="{slotHeightStyle}"
    >
      <slot {collapsed} />
    </div>
  {/if}
</Row>
