<script>
  import Label from './Label.svelte'

  export let clazz="", icon="", iconStyle="", id, label="", labelFor="", maximize=false, style="", isCollapsible=false, openOnlyOnIcon=false, tooltip, tooltipOptions={}

  if (isCollapsible) style += " margin-bottom: 0px;"

  // set default icon if no icon was set and tooltip was not deactivated
  if (!tooltipOptions.icon && tooltipOptions.icon !== false) {
    tooltipOptions.icon = 'info-circle'
  }
</script>

<style>
  :global(.sir-ComponentHeader .sir-ComponentHeader-content label.sir-ComponentHeader-label) {
    width: auto;
    max-width: 100%;
  }
  .sir-ComponentHeader {
    display: inline-flex;
    align-items: center;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    margin-bottom: 6px;
    margin-right: 0px;
  }
  .sir-ComponentHeader-icon {
    margin-right: 3px;
    margin-left: 2px;
  }
  .sir-ComponentHeader-content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
  .sir-ComponentHeader-collapsible {
    padding-left: 5px;
  }

  :global(.sir-ComponentHeader-mouse-pointer, .sir-ComponentHeader-mouse-pointer label.sir-ComponentHeader-label) { 
    cursor: pointer; 
  }
</style>

<div class="sir-ComponentHeader {clazz}" class:sir-ComponentHeader-mouse-pointer={isCollapsible && !openOnlyOnIcon} {style} role="presentation" aria-label="component header" 
  on:mouseenter on:mouseleave on:click on:dblclick on:keypress on:keydown on:dragenter|preventDefault on:dragleave|preventDefault on:drop|preventDefault on:dragover
>
  {#if isCollapsible}
    <i class="fa fa-angle-right sir-ComponentHeader-mouse-pointer sir-ComponentHeader-icon" style={iconStyle}></i>
  {/if}
  <div class="sir-ComponentHeader-content" class:sir-ComponentHeader-collapsible={isCollapsible}> 
    {#if label}
      <Label {id} for={labelFor} {icon} {label} bind:tooltip {tooltipOptions} {maximize} clazz="sir-ComponentHeader-label" />
    {/if}
    <slot name="headerExtension"/>
  </div>
</div>
