<script>
  import { getId, getBooleanFrom } from './utils/utils.js'
  import Button from './Button.svelte'
  import Label from './Label.svelte'
  import { createEventDispatcher } from 'svelte'
  import { i18nTranslate } from './utils/i18n.js' 
  
  export let node, prop, icon, label, disabled=false, maximize=true, maximizeLabel=false, i18n, tooltip, tooltipOptions

  // id must be node-input + property
  // id = getId(prop)
  let error = ''
  disabled = getBooleanFrom(disabled)
  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)

  if (!node) {
    node = {}
    error = "No node property given."
  } else if (!prop) {
    error = "No property name given."
  }
  
  const dispatch = createEventDispatcher()
  
  let defaults = node._def.defaults
  icon = icon || defaults?.[prop]?.icon || ''
  if (label !== false) {
    label = label || defaults[prop] && defaults[prop].label || prop
    if (label) label = i18nTranslate(RED, node, i18n, label)
  }
  
  let configNodes = []
  let previouslySelectedNode = node[prop] || '_ADD_'
  let selectedNode = node[prop] || '_ADD_'

  function updateConfigNodes() {
    configNodes = []
    const type = defaults[prop].type
    const node_def = RED.nodes.getType(type);
    RED.nodes.eachConfig(function(config) {
      if (config.type === type) {
        const label = (typeof node_def.label === 'function') ? node_def.label.call(config) : node_def.label
        configNodes.push({ id: config.id, label })
      }
    })
    configNodes = [...configNodes, { id: '_ADD_', label: `Add new ${type}...` }]
  }
  updateConfigNodes()

  function removedNode (e) {
    if (e.type === defaults[prop].type) {
      // removing all events now (see hints below when adding)
      RED.events.off('nodes:add', addedOrChangedNode)
      RED.events.off('nodes:change', addedOrChangedNode)
      RED.events.off('nodes:remove', removedNode)

      updateConfigNodes()
      // Always select '_ADD_' after deleting (standard behaviour)
      // otherwise it breaks the node if only one other option was available
      selectedNode = '_ADD_'
      handleChange()
      dispatch('close', e.id)
    }
  }
  function addedOrChangedNode (e) {
    if (e.type === defaults[prop].type) {
      // removing all events now (see hints below when adding)
      RED.events.off('nodes:add', addedOrChangedNode)
      RED.events.off('nodes:change', addedOrChangedNode)
      RED.events.off('nodes:remove', removedNode)

      updateConfigNodes()
      selectedNode = e.id
      handleChange()
      dispatch('close', e.id)
    }
  }

  let userFunction
  if (node._def.defaults[prop].filter) {
    userFunction =  node._def.defaults[prop].filter.bind({})
  }

  node._def.defaults[prop].filter = function (configNode = {}) {
    // iterates somehow through all config nodes of the type -> only the current changed must be handled
    // this wrapper allows to change the current node values with the data of the new/changed config node (as it is stated in module context / node.defaults )
    if (configNode.id === selectedNode) {
      if (userFunction) {
        userFunction(configNode, node)
      }
      node = node
    }
  }

  function editConfigNode() {
    dispatch('open')
    // add/change/remove events is needed to ensure the right handling after editing a config node
    // those events must be removed again as each opening a node would add them again.
    // Warning: removing must be handled directly in the callback function as NR would not recognize the right object pointer again.
    RED.events.on('nodes:add', addedOrChangedNode)
    RED.events.on('nodes:change', addedOrChangedNode)
    RED.events.on('nodes:remove', removedNode)
    // Don't use the node-input prefix property as it will try to update the select options which must be changed by SIR
    RED.editor.editConfig(prop, defaults[prop].type, selectedNode , 'sir-dummy-input-not-existing', node)
  }

  const handleChange = () => {
    if (previouslySelectedNode !== selectedNode) {
      node[prop] = selectedNode
      dispatch('change', 
        {
          before: previouslySelectedNode,
          after: selectedNode
        },
        { cancelable: false }
      )
      previouslySelectedNode = selectedNode
    }
  }
</script>

<style>
  .maximize { width: 100%; }
</style>

{#if node && prop}
  {#if label}
    <Label id="node-input-{prop}" {label} labelFor="node-input-{prop}" {icon} bind:tooltip {tooltipOptions} maximize={maximizeLabel} on:mouseenter on:mouseleave />
  {/if}
  <select id="node-input-{prop}" placeholder="{defaults[prop].label}" {disabled} bind:value={selectedNode} on:mouseenter on:mouseleave on:click on:change={handleChange}
    class:input-error={selectedNode === '_ADD_'} class:maximize
  >
    {#each configNodes as { id, label } (id)}
      <option value="{id}" selected={id === selectedNode}>{label}</option>
    {/each}
  </select>
  <Button id="node-input-lookup-{prop}" inline {disabled} icon="pencil" on:click={editConfigNode} ></Button>
{:else}
  <span class="maximize">Error: {error}</span>
{/if}
