<script>
  import Row from './Row.svelte'
  import Button from './Button.svelte'
  import ComponentHeader from './ComponentHeader.svelte'
  import Popup from './Popup.svelte'
  import { getBooleanFrom, getId, getFadeDuration } from './utils/utils.js'
  import { i18nTranslate } from './utils/i18n.js' 
  import { createEventDispatcher } from 'svelte'
  import { flip } from 'svelte/animate'
  import { slide } from 'svelte/transition';
	import { quintOut } from 'svelte/easing';

  export let addButton=false, clazz="", confirmRemove=false, disabled=false, elements, fading=true, filter, height='auto', i18n, icon, id, indented=false, inline=false, label='', 
         maxHeight=300, maximize=false, maximizeLabel=true, minHeight=100, node, ref, removable=false, sortable=false, style='', tooltip='', tooltipOptions={}

  confirmRemove = getBooleanFrom(confirmRemove)
  disabled = getBooleanFrom(disabled)
  id = id || getId()
  indented = getBooleanFrom(indented)
  inline = getBooleanFrom(inline)
  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)
  removable = getBooleanFrom(removable)
  sortable = getBooleanFrom(sortable)

  const drop = (e, target) => {
    if (dropzone) {
      e.dataTransfer.dropEffect = 'move'
      const start = parseInt(e.dataTransfer.getData("text/plain"))
      const newTracklist = [...elements]
      if (start < target) {
        newTracklist.splice(target + 1, 0, newTracklist[start])
        newTracklist.splice(start, 1)
      } else {
        newTracklist.splice(target, 0, newTracklist[start])
        newTracklist.splice(start + 1, 1)
      }
      elements = newTracklist
      hovering = null
      draggingIndex = null
      dispatch('sort', { value: elements }, { cancelable: false })
    }
  }
  const dragstart = (e, i) => {
    window.getSelection().removeAllRanges() // if text is selected the dragging is corrupted
    dropzone = e.target.closest('ol').id
    draggingIndex = i
    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.dropEffect = 'move';
    const start = i;
    e.dataTransfer.setData('text/plain', start)
  }
  const dragenter = (e, i) => {
    if (dropzone) {
      hovering = i
    }
  }
  const dragend = () => {
    dropzone = false
    hovering = null
    draggingIndex = null
  }
  // add / remove content
  const removeElement = () => {
    const removed = elements[indexToRemove]
    elements = [...elements.slice(0, indexToRemove), ...elements.slice(indexToRemove + 1)]
    dispatch('remove', { value: removed, index: indexToRemove }, { cancelable: false })
    indexToRemove = null
    if (confirmRemove) {
      showDeletePopup = false
    }
  }
  const addHandler = () => dispatch('add', { index: elements.length })
  const removeHandler = (index) => {
    if (confirmRemove) {
      showDeletePopup = true
      indexToRemove = index
    } else {
      indexToRemove = index
      removeElement()
    }
  }
  const cancelPopup = () => {
    indexToRemove = null
    showDeletePopup = false
  }

  const dispatch = createEventDispatcher()
  const nodeInputId = "node-input-" + id + "-container"
  const fadeDuration = getFadeDuration(fading)

  // sorting mechanism
  let hovering = false
  let draggingIndex = null
  let isDraggable = false
  let dropzone
  let showDeletePopup = false
  let indexToRemove
  let removeCounter = 0

  // filter is a function to hide elements
  if (!filter || typeof filter !== 'function') {
    filter = () => true
  }

  // note: if height is set, min and max height have no effect
  if (!isNaN(height)) height += "px"
  if (!isNaN(minHeight)) minHeight += "px"
  if (!isNaN(maxHeight)) maxHeight += "px"

  const addButtonLabel = typeof addButton === 'string' ? addButton : RED._("editableList.add")
  if (style && !style.endsWith(";")) {
    style = style + ";"
  }
  if (label) {
    label = i18nTranslate(RED, node, i18n, label)
  }

  // enables changing label name
  $: _addButton = !!addButton
  $: removeTooltip = removeCounter ? 'Confirm deletion' : 'Delete element'
</script>

<style>
  li {
    display: inline-flex;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    align-items: center;
  }
  li .red-ui-editableList-item-content {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    margin: 0px 8px;
  }
  li .red-ui-editableList-item-remove {
    position: initial;
    margin: 0px 3px 0px 0px;
  }
  li .red-ui-editableList-item-handle {
    position: initial;
    margin: 0px 0px 0px 3px;
  }
  .disabled { pointer-events: none; }
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList) {
    align-items: flex-start;
    flex-direction: column;
  }
  .indented { padding-left: 12px;}
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList div:last-child) { margin-bottom: 0px; }
  :global(.sir-EditableList .red-ui-editableList-item-remove .sir-Row, .sir-EditableList .sir-ComponentHeader .sir-Row) {
    margin-bottom: 0px;
  }
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList .red-ui-editableList-container) {
    min-height: 100px;
    overflow-y: auto !important;
    overflow-x: hidden;
    padding-top: 0px;
  }
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList .red-ui-editableList) { 
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList .red-ui-editableList-item-remove button) { min-width: auto; }

  .halfTransparent { opacity: .5; }
  .dropzoneCurrent {
    border-top: 2px solid #ccc;
    border-bottom: 3px solid #ccc;
  }
  .dropzoneUnder { border-top: 3px solid #ccc; }
  .dropzoneAbove { border-bottom: 3px solid #ccc; }
  :global(.sir-EditableList-header.sir-EditableList-removeable .sir-Row) {
    position: relative;
    width: calc(100% - 35px);
  }
  :global(.sir-EditableList-header.sir-EditableList-sortable .sir-Row) {
    position: relative;
    left: 20px;
  }
  :global(.sir-EditableList .sir-editableList-add-button) {
    margin-top: 6px;
  }
  /* hide filtered li elements */
  .red-ui-editableList-list > li { display: none;}
  .red-ui-editableList-list > li:has(.red-ui-editableList-item-content) { display: inline-flex; }
</style>

<Row id="sir-EditableList-{id}" clazz="{clazz} sir-EditableList" {inline} {maximize} fading={fadeDuration} {style} bind:ref>
  {#if label || $$slots.header}
    <ComponentHeader {label} id="sir-EditableList-{id}" labelFor="sir-EditableList-{id}-content" {icon} {tooltip} {tooltipOptions} maximize={maximizeLabel}>
      <svelte:fragment slot="headerExtension">
        <slot name="header" />
      </svelte:fragment>
    </ComponentHeader>
  {/if}
  <div class="red-ui-editableList">
    <!-- Drag and drop events must be handled different if list is empty or has values -->
    <div id="sir-EditableList-{id}-content" style={`${style} min-height: ${minHeight}; height: ${height}; max-height: ${maxHeight}`} role="listbox" tabindex=-1
      class="red-ui-editableList-border red-ui-editableList-container sir-EditableList-container" class:indented
      on:drag|stopPropagation
      on:drop|preventDefault|stopPropagation
      on:dragover|preventDefault|stopPropagation
      on:dragenter|preventDefault|stopPropagation
      on:dragleave|stopPropagation
      on:dragend|stopPropagation
    >
      {#if $$slots.tableHeader}
        <div class="red-ui-editableList-header sir-EditableList-header" class:sir-EditableList-removeable={removable} class:sir-EditableList-sortable={sortable} >
          <slot name="tableHeader" />
        </div>
      {/if}
      <ol id="{nodeInputId}" class="red-ui-editableList-list sir-EditableList-list" class:ui-sortable={sortable} {style} >
        {#each elements as element, index (typeof element === 'object' ? element.id || element : index)}
          <!-- hide via css instead of using if, as svelte animate needs to be on top level (after each). The remaining content can be removed by filter.
            class can't be added as class:hide={() => function()} always returns true.
            $: visibleElements = elements.filter(filter) will make problems with sort and remove as the index may be wrong now.
          -->
          <li id={index} draggable={isDraggable} animate:flip={{duration: 200}} role="option" aria-selected={index === draggingIndex} 
            in:slide={{ duration: 400, easing: quintOut, axis: 'y' }}  
            class:red-ui-editableList-item-sortable={sortable} 
            class:red-ui-editableList-item-removable={removable}
            class:dropzoneUnder={hovering === index && hovering < draggingIndex}  
            class:dropzoneAbove={hovering === index && hovering > draggingIndex} 
            class:dropzoneCurrent={hovering === index && index === draggingIndex}
            class:halfTransparent={hovering !== index && index === draggingIndex}
            on:dragstart|stopPropagation={e => dragstart(e, index)} 
            on:drag|stopPropagation
            on:drop|preventDefault|stopPropagation={e => drop(e, index)} on:drop
            on:dragover|preventDefault|stopPropagation 
            on:dragenter|preventDefault|stopPropagation={e => { dragenter(e, index) }} on:dragenter|preventDefault|stopPropagation
            on:dragleave|stopPropagation
            on:dragend|stopPropagation={dragend}
          >
            {#if filter(element)}
              {#if sortable}
                <i class="red-ui-editableList-item-handle fa fa-bars" class:disabled={disabled} role="none"
                  on:mouseover={() => isDraggable = true} on:focus={() => isDraggable = true}
                  on:mouseout={() => isDraggable = false} on:blur={() => isDraggable = false}
                />
              {/if}
              <div class="red-ui-editableList-item-content">
                <slot {element} {index}/>
              </div>        
              {#if removable}
                <div class="red-ui-editableList-item-remove">
                  <Button small icon="remove" {disabled} tooltip={removeTooltip}
                    on:mouseenter={(e) => dispatch('mouseEnterRemove', e)}
                    on:mouseleave={(e) => { 
                      dispatch('mouseLeaveRemove', e)
                      removeCounter = 0
                    }}
                    on:click={() => removeHandler(index)}
                  />
                </div>
              {/if}
            {/if}
          </li>
        {/each}
      </ol>
    </div>
    {#if _addButton}
      <Button id="sir-EditableList-add-button-{id}" clazz="sir-editableList-add-button" on:click={addHandler} icon="plus" {disabled} label={addButtonLabel} small/>
    {/if}
  </div>
</Row>

{#if confirmRemove}
  <Popup id={"sir-EditableList-delete-popup-" + id} type="warning" modal fixed bind:showPopup={showDeletePopup} focus="insidePopup" keyboard={{ enter: removeElement, escape: cancelPopup }}>
    {#if $$slots.removeMessage}
      <slot name="removeMessage" index={indexToRemove} />
    {:else}
      <h2>Please confirm deletion of row {indexToRemove + 1}!</h2>
    {/if}
    <svelte:fragment slot="buttons">
      <Button label='Cancel' on:click={cancelPopup} />
      <Button label='Delete' primary on:click={removeElement} />
    </svelte:fragment>
  </Popup>
{/if}