<script>
  import { getId, getBooleanFrom } from './utils/utils.js'
  import { i18nTranslate } from './utils/i18n.js' 
  import Row from './Row.svelte'
  import ComponentHeader from './ComponentHeader.svelte'

  export let clazz='', fading=true, i18n, icon, inline=false, label, maximize=false, maximizeLabel=true, node, ref, style='', tooltip, tooltipOptions
  export let id = getId()

  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)
  inline = getBooleanFrom(inline)
  if (label) {
    label = i18nTranslate(RED, node, i18n, label)
  }    
</script>

<style>
  .sir-Group-container { 
    padding: 12px 12px 0px 12px; 
  }
  :global([id^='sir-Group-'].sir-Row.sir-Group, [id^='sir-Group-'].sir-Group) {
    flex-direction: column;
    align-items: stretch;
  }
</style>

<Row id="sir-Group-{id}" clazz="{clazz} sir-Group" {inline} {fading} {maximize} bind:ref>
  {#if label || $$slots.header}
    <ComponentHeader id="sir-Group-{id}" {label} labelFor="sir-Group-{id}-container" {icon} {tooltip} {tooltipOptions} maximize={maximizeLabel}>
      <svelte:fragment slot="headerExtension">
        <slot name="header" />
      </svelte:fragment>
    </ComponentHeader>
  {/if}
  <div id="sir-Group-{id}-container" class="red-ui-editableList-border sir-Group-container" style={style}>
    <slot />
  </div>
</Row>
