<script>
  import Row from './Row.svelte'
  import PlainInput from './PlainInput.svelte'
  import ConfigNodeInput from './ConfigNodeInput.svelte'
  import { getBooleanFrom, getId } from './utils/utils.js'

  export let checked, clazz='', credentials, disabled=false, error, fading=true, i18n, icon, id, indented=false, inline=false, label, labelBeforeCheckbox=false, 
             maximize=true, maximizeLabel=false, node, placeholder, prop, readonly=false, ref, style='', tooltip='', tooltipOptions, type, value

  id = id || getId(prop)
  inline = getBooleanFrom(inline)
  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)
  disabled = getBooleanFrom(disabled)
  indented = getBooleanFrom(indented)
  readonly = getBooleanFrom(readonly)
  labelBeforeCheckbox = getBooleanFrom(labelBeforeCheckbox)
  if (typeof error !== 'undefined') {
    error = getBooleanFrom(error)
  }
  // loading node: if only node is bound for any input field in the svelte code, value would be undefined if the input field is empty or false
  if (type !== 'checkbox' && typeof value === 'undefined' && typeof node?.[prop] !== 'undefined') {
    value = node[prop]
  } else if (type === 'checkbox' && typeof value === 'undefined') {
    // special case for checkbox: bind:checked (offical property) could also be used and has prio before getting it possibly from node[prop]
    if (typeof checked !== 'undefined') {
      value = getBooleanFrom(checked)
    } else if (typeof node?.[prop] !== 'undefined') {
      value = getBooleanFrom(node[prop])
    } 
  }

  // if checkbox has checked bound it must be updated with the value property (needed)
  $: if (type === 'checkbox' && typeof checked !== 'undefined' && typeof value !== 'undefined') {
    checked = getBooleanFrom(value)
  }
</script>

<style>
  :global(.sir-Input-container) {
    display: inline-flex;
    align-items: center;
  }
</style>

<Row id="sir-Input-container-{id}" clazz="{clazz} sir-Input-container" {inline} {maximize} {fading} {style} bind:ref>
  {#if type === 'config'}
    <ConfigNodeInput bind:node bind:prop {icon} bind:label {i18n} bind:disabled {indented} bind:tooltip {tooltipOptions} on:change on:mouseenter on:mouseleave on:click on:open on:close/>
  {:else}
    <PlainInput bind:node bind:prop bind:icon bind:label {i18n} bind:disabled {indented} bind:value bind:type {credentials} {labelBeforeCheckbox} bind:placeholder {id} 
      bind:maximize bind:maximizeLabel bind:error bind:tooltip {tooltipOptions} {readonly}
      on:change on:mouseenter on:mouseleave on:click on:keypress on:keydown on:input on:focus on:blur
    />
  {/if}
</Row>
