<script>
  import Tooltip from './Tooltip.svelte'

  // icon can be a single font-awesome 4.7 icon, an array with 2 font-awesome icons or the link to an svg image
  export let clazz='', id, icon, label = '', labelFor, maximize = false, notClickable = false, tooltip, tooltipOptions = {}

  if (id && !id.toString().endsWith('-Label')) id += '-Label'
  // set default icon if no icon was set and tooltip was not deactivated
  if (!tooltipOptions.icon && tooltipOptions.icon !== false) {
    tooltipOptions.icon = 'info-circle'
  }
  const stackIcons = []
  if (Array.isArray(icon)) {
    let counter = icon.length // can propably only be 2...
    icon.forEach(thisIcon => {
      if (!thisIcon.startsWith('fa-')) {
        stackIcons.push('fa-' + thisIcon.trim() + ' fa-stack-' + counter-- + 'x')
      }
    })
  // add fa- prefix if not a svg icon
  } else if (icon && !icon.endsWith('.svg') && !icon.startsWith('fa-')) {
    icon = 'fa-' + icon.trim()
  } else if (icon?.endsWith('.svg') && !icon.includes('/')) {
    icon = 'icons/node-red/' + icon
  }
</script>

<style>
  label { 
    width: auto;
    min-width: 130px;
    max-width: 130px;
    margin-bottom: 0px;
    margin-right: 7px;
    /* width: inherit; */
    display: flex;
    align-items: center;
    /* disable click text selection */
    user-select: none; /* Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
  label.notClickable {
    cursor: initial;
  }
  div:not(.sir-Input-checkbox) > label i { 
    text-align: left;
    width: 22px;
  }
  label .sir-Label-icon-stack > i.sir-Label-stackedIcons {
    text-align: center;
  }
  label .hasTooltip {
    color: var(--red-ui-secondary-text-color-disabled);
    margin-left: 5px;
  }
  label .hasTooltip:hover {
    color: var(--red-ui-secondary-text-color-hover);
  }
  .sir-Label-outer.hasStackIcons {
    padding-left: 10px;
  }
  .sir-Label-icon-stack {
    width: 19px;
    height: 19px;
    line-height: 19px;
    padding-left: 0px;
  }
  :global(.sir-Label-icon-stack .fa-stack-2x) {
    font-size: 19px;
  }
  :global(.sir-Label-icon-stack .fa-stack-1x) {
    font-size: 10px;
  }
  .sir-Label-svg-icon {
    width: 26px;
    height: 19px;
    background-color: var(--red-ui-primary-text-color);
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
  }
  label.sir-Label-maximize {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    max-width: 100% !important;
  }
  :global(.sir-Input-checkbox label.sir-Label) {
    padding-left: 5px;
  }
  :global(.sir-Input-container .sir-Input-checkbox input) {
    margin-top: 0px;
  }
</style>

<label {id} for={labelFor} on:mouseenter on:mouseleave class={"sir-Label " + clazz} class:notClickable class:sir-Label-maximize={maximize}>
  {#if stackIcons.length}
  <span class="fa-stack fa fa-fw sir-Label-icon-stack">
    {#each stackIcons as thisIcon}
      <i class="fa {thisIcon} sir-Label-stackedIcons"></i>
    {/each}
  </span>
  {:else if icon?.endsWith('.svg')}
    <div src={icon} class="sir-Label-svg-icon" style={`mask-image: url(${icon}); -webkit-mask-image: url(${icon})`}></div>
  {:else if icon}
    <i class="fa {icon} fa-fw"/>
  {/if}
  <span class="sir-Label-outer" class:hasStackIcons={stackIcons.length}>
    <span class="sir-Label-text">{label}</span>
    {#if tooltip}
      <Tooltip {id} {tooltip} {tooltipOptions}/>
    {/if}
  </span>
</label>