<script>
	
  import { getId } from './utils/utils.js'
  import { tick } from 'svelte';
  import { fade } from 'svelte/transition'

	export let clazz = '', expandable=false, hideOnLeave=false, id, maxHeight, ref, style = "", title=""

  id = id || getId()
  
	let hover = false
  let hide = true
  // maxHeight must be always known before creation to check if we need overflow-x
	let _maxHeight = maxHeight || window.innerHeight
  let maxHeightStyle = "max-height: " + (isNaN(_maxHeight) ? _maxHeight : _maxHeight + "px") + "; "
  let childEntriesStyle = maxHeightStyle

	const menuParentMouseEnter = async (e) => {
    childEntriesStyle= maxHeightStyle
    hide = false
    hover = true
    await tick()
    // Note: If zoomed, the coordinates are not correct anymore. Multiply with window.devicePixelRation to get the correct value
    const parent = document.getElementById('sir-MenuEntry-parent-' + id)
    const parentDOMRect = parent.getBoundingClientRect()
    const childDOMRect = parent.getElementsByClassName('entries')[0].getBoundingClientRect()
    if (parent.getElementsByClassName("entries")[0].scrollHeight > _maxHeight) {
      childEntriesStyle += "overflow-x: auto; "
    }
    if (childDOMRect.right > window.innerWidth) {
			childEntriesStyle += "margin-left: -" + (parentDOMRect.width + childDOMRect.width - 8) + "px; " // +3 = compensate margin
		}
    if (childDOMRect.height >= window.innerHeight) {
      childEntriesStyle += "margin-top: " + (window.innerHeight - childDOMRect.bottom - 8) + "px; "
    } else if (childDOMRect.bottom > window.innerHeight) {
      // TODO: check bug if maxHeight and still outside window      
      childEntriesStyle += "margin-top: " + (parentDOMRect.bottom - childDOMRect.bottom - 8) + "px; "
    }
	}

  const menuParentMouseLeave = (e) => {
    hover = false
    // if leaving the menu with the mouse, do not hide
    if (hideOnLeave 
        || (!e.relatedTarget) 
        || ( e.relatedTarget.classList.contains('sir-MenuEntry-parent') 
        || e.relatedTarget.classList.contains('sir-MenuEntry') 
        || e.relatedTarget.closest('.sir-MenuEntry-parent') 
        || e.relatedTarget.closest('.sir-MenuEntry'))) {
        hide = true
    }
  }
</script>

<style>
	.sir-MenuEntry-parent { position: relative; }
	.sir-MenuEntry-parent, .entry { padding: 7px; }
	.sir-MenuEntry-parent, .entry, .entries {
		background: var(--red-ui-primary-background);
		min-width: max-content;
	}
  .entries {	
    position: absolute;
    display: inline-block;
    margin-left: 7px;
    margin-top: -8px;
		width: fit-content;
    border: 1px solid #ccc;
		border-radius: 3px;
    z-index: 999;
	}
  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: linear;
    /* animation-delay: 150ms; */
    animation-duration: 300ms;
  }
  @keyframes fadeInOpacity {
    0% { opacity: 0; }
    100% { opacity: 1;}
  }

	.sir-MenuEntry-hover { 
    background: var(--red-ui-secondary-background-hover);
    cursor: pointer;
   }
	.sir-MenuEntry-title {
		position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    align-items: center;
	}
  .sir-MenuEntry-title i { margin-left: 7px; }
</style>

{#if expandable}
  <div id={"sir-MenuEntry-parent-" + id} {style} class="{clazz} sir-MenuEntry-parent fade-in" class:sir-MenuEntry-hover={hover} out:fade="{{ duration: 150 }}"  role="menu" tabindex=0 bind:this={ref}
    on:mouseenter|self|stopPropagation={menuParentMouseEnter} on:mouseleave|self|preventDefault|stopPropagation={menuParentMouseLeave} on:click|stopPropagation on:keypress|stopPropagation on:keydown|stopPropagation
  >
    <div class="sir-MenuEntry-title">
      <div class="sir-MenuEntry-titleText">{title}</div>
      <i class="fa fa-chevron-right" />
    </div>
    {#if !hide}
      <!-- Can't use svelte transition as style is manipulated by us (box position) -->
      <div class="entries sir-MenuEntry fade-in" style={childEntriesStyle} out:fade="{{ duration: 150 }}" >
        <slot />
      </div>
    {/if}
  </div>
{:else}
  <div class="entry sir-MenuEntry fade-in" id={"sir-MenuEntry-" + id} class:sir-MenuEntry-hover={hover} out:fade="{{ duration: 150 }}"  role="menuitem" tabindex=0 bind:this={ref}
    on:mouseenter|self|stopPropagation={() => hover = true} on:mouseleave|self|stopPropagation={() => hover = false} on:click|stopPropagation on:keypress|stopPropagation on:keydown|stopPropagation
  >
    {#if title}
      <div class="sir-MenuEntry-title">
        <div class="sir-MenuEntry-titleText">{title}</div>
      </div>
    {/if}
    <slot />
  </div>
{/if}
