<!-- if mouse is outside of the box / window -->
<svelte:window on:mouseup|capture={stopResizing} />

<script>
  import Row from './Row.svelte'
  import ComponentHeader from './ComponentHeader.svelte'
  import { getBooleanFrom, getId, getFadeDuration } from './utils/utils.js'
  import { i18nTranslate } from './utils/i18n.js' 
  export let border=false, clazz="", fading=true, height="500", i18n, icon, id, label, maximize=true, maximizeLabel=false, node, ref, style="", topHeight="70%", tooltip, tooltipOptions
  
  id = id || getId()
  border = getBooleanFrom(border)
  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)

  const fadeDuration = getFadeDuration(fading)
  if (label) label = i18nTranslate(RED, node, i18n, label)
  const checkCssExtension = (c => {
    if (!isNaN(c)) c = c + "px"
    return c
  })
  height = checkCssExtension(height)
  topHeight = checkCssExtension(topHeight)
 
  let thisPanel
  let thisPanelPos
  let thisPanelBottomPadding
  let startY = 0
  let isResizing = false
  const startResizing = (e) => {
    if (isResizing) return stopResizing() // to prevent not getting out if something went wrong
    // get the static data on start
    thisPanel = document.getElementById("sir-Panel-container-" + id)
    thisPanelPos = thisPanel.getBoundingClientRect()
    thisPanelBottomPadding = parseFloat(getComputedStyle(thisPanel).paddingBottom)
    startY = e.clientY
    // don't add by svelte on:mousemove as resizing would only work within the panelbox
    window.addEventListener("mousemove", resize);
    
    document.getElementById("red-ui-editor").classList.add("sir-Panel-resize-cursor")
    isResizing = true
  }

  const stopResizing = () => {
    isResizing = false
    document.getElementById("red-ui-editor").classList.remove("sir-Panel-resize-cursor")  
    window.removeEventListener("mousemove", resize)
  }
  
  const resize = (e) => {
    if (isResizing) {
      const top = thisPanel.getElementsByClassName("sir-Panel-top")[0]
      const bottom = thisPanel.getElementsByClassName("sir-Panel-bottom")[0]
      const currentTopHeight = top.clientHeight
      const resizerPos = thisPanel.getElementsByClassName("red-ui-panels-separator")[0].getBoundingClientRect()
      const mouseIsAtResizerPosX = (startY <= resizerPos.bottom && startY >= resizerPos.top)
      const resizerOverBottom = resizerPos.bottom + 3 <= thisPanelPos.bottom
      
      // only resize box if mouse on same height as the resize element
      // and mouse is above panel bottom (which seems to have problem when mouse movement is too fast)
      if (mouseIsAtResizerPosX && startY < thisPanelPos.bottom && (resizerOverBottom || startY >= e.clientY) ) {
        const newTopHeight = currentTopHeight - (startY - e.clientY)
        top.style.height = newTopHeight +  "px"
        bottom.style.height = (thisPanel.clientHeight - newTopHeight) + "px"
      }
      
      startY = e.clientY
      // workaround fixing if mouse movement was too fast 
      // outside top
      if (startY < thisPanelPos.top) {
        top.style.height = "0px"
      // outside bottom
      } else if (resizerPos.bottom > thisPanelPos.bottom) {
        top.style.height = (thisPanelPos.height - resizerPos.height - thisPanelBottomPadding - 1) + "px"
        startY = thisPanelPos.height - thisPanelBottomPadding - 1
      }
    }
  }
</script>

<style>
:global(.sir-Panel.sir-Row.sir-Group, .sir-Panel.sir-Row) {
    flex-direction: column;
    align-items: stretch;
  }
  .sir-Panel-top, .sir-Panel-bottom, .sir-Panel-container {
    overflow: hidden;
  }
  .sir-Panel-container { height: 100%; }
  :global(.sir-Panel-resize-cursor) { cursor: n-resize !important;}
</style>

<Row id="sir-Panel-{id}" clazz="{clazz} sir-Panel" fading={fadeDuration} style={style} {maximize} bind:ref>
  {#if label || $$slots.header}
    <ComponentHeader id="sir-Panel-{id}" {label} labelFor="sir-Panel-container-{id}" {icon} bind:tooltip {tooltipOptions} maximize={maximizeLabel}>
      <svelte:fragment slot="headerExtension">
        <slot name="header" />
      </svelte:fragment>
    </ComponentHeader>
  {/if}
  <div id="sir-Panel-container-{id}" class="sir-Panel-container" style={"height: " + height} class:red-ui-editableList-border={border}>
    <div class="sir-Panel-top" style={`height: ${topHeight};`}>
      <slot name="top" />
    </div>
    <div class="red-ui-panels-separator ui-draggable ui-draggable-handle" role="presentation"
      on:mousedown|stopPropagation|preventDefault={(e) => startResizing(e)}
    />
    <div class="sir-Panel-bottom" style={`height: calc(100% - ${topHeight});`}>
      <slot name="bottom" />
    </div>
  </div>
</Row>
