<script>
  import { getId, getBooleanFrom, initInternal, getNewInternal } from './utils/utils.js'
  import { createEventDispatcher } from 'svelte'
  import { i18nTranslate } from './utils/i18n.js'
  import Label from './Label.svelte'
  import Tooltip from './Tooltip.svelte'

  export let credentials=false, disabled=false, error=false, i18n, icon, id, indented=false, label, labelBeforeCheckbox=false, maximize, maximizeLabel, node, placeholder, prop, readonly=false, tooltip, tooltipOptions = {}, type, value
  
  id = id || getId(prop)
  credentials = getBooleanFrom(credentials)
  indented = getBooleanFrom(indented)
  disabled = getBooleanFrom(disabled)
  error = getBooleanFrom(error)
  labelBeforeCheckbox = getBooleanFrom(labelBeforeCheckbox)
  readonly = getBooleanFrom(readonly)
  
  // if input is in a config node, use offical naming to ensure saving credentials (which will be get out of the DOM.... -.-)
  const inputFieldId = node?._def?.category === 'config' ? 'node-config-input-' + id : 'node-input-' + id
  let defaults = {}
  if (node) {
    // if credentials were not set manually and there is no default prop, but a credential
    if (!credentials && prop) {
      if (!node._def.defaults[prop] && node._def.credentials[prop]) {
        credentials = true
      }
    }
    defaults = credentials ? node._def.credentials : node._def.defaults
  }
  let internal = initInternal(defaults[prop], value)
  // If credential is type password and has an old value we won't get that value in the editor.
  // Instead there is a "has_" + prop flag to differentate if the UI should show an empty input field or with an value.
  // If the value is "__PWRD__" the value will not be saved/changed till deploy in node.credentials[prop].
  // https://github.com/node-red/node-red/blob/master/packages/node_modules/%40node-red/editor-client/src/js/ui/editor.js
  if (credentials) {
    type = type || defaults[prop].type || 'text' // try to get credential type (password or text)
    if (type === 'text') {
      // may changed from password type to text 
      delete node.credentials['has_' + prop]
    }
    // Credentials is a special case, which only occurs in Input field. Therefore we won't put the initialization of them in initInternal.
    internal.value = (node.credentials['has_' + prop]) ? '__PWRD__' : (node.credentials[prop] || '')
  }
  icon = icon || defaults[prop]?.icon || ''
  if (label !== false) {
    label = label || defaults[prop]?.label || prop || ''
  }
  placeholder = placeholder || defaults[prop]?.placeholder || ''
  if (!type) {
    let testValue = typeof defaults[prop] !== 'undefined' ? defaults[prop].value : internal.value
    if (typeof testValue === 'number') {
      type = 'number'
    } else if (typeof testValue === 'boolean') {
      type = 'checkbox'
    } else {
      type = 'text'
    }
  }

  if (tooltipOptions.icon === false && !tooltipOptions.target) {
    tooltipOptions.target = inputFieldId
  }
  

  const deleteNRPopover = () => RED.popover.tooltip(window.$(window.$.escapeSelector('#' + inputFieldId)))?.delete()

  const dispatch = createEventDispatcher()
  $: {
    internal = getNewInternal((credentials ? node?.credentials?.[prop] : node?.[prop]), value, internal, defaults?.[prop]?.validate, error, node)
    if (internal.updateNode) {
      if (credentials) {
        node.credentials[prop] = internal.value
      } else {
        node[prop] = internal.value
      }
    } else {
      value = internal.value
    }

    if (!internal.init && internal.valueHasChanged) {
      dispatch('change', { id, value: internal.value }, { cancelable: false })
    }
    internal.init = false
  }
  $: {
    if (label) label = i18nTranslate(RED, node, i18n, label) 
  }
  $: {
    if (placeholder) placeholder = i18nTranslate(RED, node, i18n, placeholder) 
  }
</script>

<style>
  .sir-Input {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch; 
  }
  .sir-Input-clickable { cursor: pointer; }
  .sir-Input-checkbox { display: inline-flex; }
  .sir-Input-checkbox input { margin: 0px; }
</style>

{#if !internal.updateNode || prop}
  {#if (type !== 'checkbox' && label) || (type === 'checkbox' && label && labelBeforeCheckbox)}
    <Label id={"sir-Input-label-" + id} {label} labelFor={inputFieldId} {icon} {tooltip} {tooltipOptions} maximize={maximizeLabel} on:mouseenter on:mouseleave />
  {:else if indented}
    <Label notClickable/>
  {/if}
  {#if type === 'text'}
    <input id={inputFieldId} {placeholder} {disabled} {readonly} bind:value={internal.value} class:sir-Input={true} class:input-error={internal.error} type="text" 
      on:mouseover|capture|once={deleteNRPopover}
      on:mouseenter on:mouseleave on:keypress on:keydown on:click on:input on:focus on:blur
    >
  {:else if type === 'number'}
    <input id={inputFieldId} {placeholder} {disabled} {readonly} bind:value={internal.value} class:sir-Input={true} class:input-error={internal.error} type="number" on:mouseenter on:mouseleave on:keypress on:keydown on:click on:input on:focus on:blur>
  {:else if type === 'password'}
    <input id={inputFieldId} {placeholder} {disabled} {readonly} bind:value={internal.value} class:sir-Input={true} class:input-error={internal.error} type="password" on:mouseenter on:mouseleave on:keypress on:keydown on:click on:input on:focus on:blur>
  {:else if type === 'email'}
    <input id={inputFieldId} {placeholder} {disabled} {readonly} bind:value={internal.value} class:sir-Input={true} class:input-error={internal.error} type="email" on:mouseenter on:mouseleave on:keypress on:keydown on:click on:input on:focus on:blur>
  {:else if type === 'url'}
    <input id={inputFieldId} {placeholder} {disabled} {readonly} bind:value={internal.value} class:sir-Input={true} class:input-error={internal.error} type="url" on:mouseenter on:mouseleave on:keypress on:keydown on:click on:input on:focus on:blur>
  {:else if type === 'color'}
    <input {disabled} {readonly} bind:value={internal.value} style="max-width: 30px; cursor: pointer;" class:input-error={internal.error} type="color" on:input on:click>
    <input id={inputFieldId} {placeholder} {disabled} {readonly} bind:value={internal.value} class:sir-Input={true} class:input-error={internal.error} type="text" on:mouseenter on:mouseleave on:keypress on:keydown on:input on:focus on:blur>
  {:else if type === 'checkbox'}
    <div class="sir-Input-checkbox" class:sir-Input={true}>
      <input id={inputFieldId} {disabled} {readonly} bind:checked={internal.value} class:input-error={internal.error} type="checkbox" on:mouseenter on:mouseleave on:keypress on:keydown on:click on:input on:focus on:blur>
        {#if label && !labelBeforeCheckbox}
          <Label id={"sir-Input-label-" + id} {label} labelFor={inputFieldId} {icon} {maximize} tooltip={typeof internal.error === 'string' ? internal.error : tooltip} {tooltipOptions} on:mouseenter on:mouseleave />
        {/if}
    </div>
  {:else if type === 'search'}
    <div class="red-ui-searchBox-container red-ui-searchBox-compact" class:sir-Input={true}>
      <i class="fa fa-search" />
      <input id={inputFieldId} placeholder={placeholder || 'search'} {disabled} {readonly} bind:value={internal.value} class="red-ui-searchBox-input"  class:sir-Input={true} class:input-error={internal.error} type="text" on:mouseenter on:mouseleave on:keypress on:keydown on:click on:input on:focus on:blur>
      {#if internal.value}
        <i class="fa fa-times sir-Input-clickable" on:click={() => internal.value = ''} on:keydown={() => internal.value = ''} role="button" tabindex=0 aria-label="Clear search"/>
      {/if}
    </div>
  {:else}
    <span>Error: Unsupported property type '{type}'.</span>
  {/if}
{:else}
  <span class="sir-Input-maximize">Error: No property name given.</span>
{/if}
{#if typeof internal.error === 'string' && internal.error.trim()}
  <Tooltip tooltip={internal.error} tooltipOptions={{ target: inputFieldId, icon: false, direction: "bottom", size: "small", delay: { show: 150, hide: 150 }, show: true }}/>
{:else if !label && tooltip}
  <Tooltip {tooltip} tooltipOptions={{ target: inputFieldId, icon: false, direction: "bottom", size: "small", delay: { show: 150, hide: 150 } }}/>
{/if}