<script>
  import { onDestroy, tick } from 'svelte'
  import Button from './Button.svelte'
  import { fade } from 'svelte/transition'
  import {getId, getBooleanFrom} from './utils/utils.js'
  export let button=true, clazz='', closeOtherPopovers=true, disabled=false, icon, id, keepOpen = false, label, modal=true, realign = false, ref, showPopover=false, small=false, style='', tooltip, tooltipOptions

  id = id || getId()
  small = getBooleanFrom(small)
  modal = getBooleanFrom(modal)
  disabled = getBooleanFrom(disabled)
  showPopover = getBooleanFrom(showPopover)

  const handle_keydown = (e) => {
		if (e.key === 'Escape') return close()
	}

  const checkClick = (event) => {
    // if click is not within popover or button -> close if not explicit keep open option set
    if (!keepOpen && !event.target.closest('#sir-Popover-' + id) && !event.target.closest("#sir-Button-container-sir-Popover-button-" + id)) {
      close()
      window.removeEventListener('click', checkClick, { capture: true })
    }
  }

	const close = () => {
    showPopover = false
    clazz = clazz.replace(' sir-Popover-open', '')
    window.removeEventListener('click', close)
    window.removeEventListener('keydown', handle_keydown)
  }

  const togglePopover = async () => {
    const thisPopoverIsOpen = !!document.getElementById('sir-Popover-' + id)
    // popover closed through other popover, than it can be true and svelte won't react if set to true again
    showPopover = false
    await tick()
    showPopover = !thisPopoverIsOpen
    // close (all) other popovers to prevent opening two not modal popovers... 
    // this is only needed if someone makes a popover in a popover...
    if (closeOtherPopovers) {
      document.querySelectorAll('.sir-Popover').forEach(popover => popover.remove())
    }
    await tick()
    if (showPopover) {
      await createPopoverStyle()
      clazz += ' sir-Popover-open'

      if (!modal) {
        window.removeEventListener('click', checkClick, { capture: true })
        window.removeEventListener('keydown', handle_keydown)
        window.addEventListener('click', checkClick, { capture: true })
        window.addEventListener('keydown', handle_keydown)
      }
    } else {
      close()
    }
  }

  const createPopoverStyle = async () => {
    popoverStyle = ''
    popoverStyle = style + ' top: 0px; left: 0px;'
    await tick()
    const button = document.getElementById('sir-Popover-button-' + id)
    const buttonDOMRect = button?.getBoundingClientRect()
    const popoverDOMRect = document.getElementById('sir-Popover-' + id)?.getBoundingClientRect()
    let top = buttonDOMRect.top - popoverDOMRect.height
    if (top < 0) {
      top = buttonDOMRect.bottom
    }
    let left = buttonDOMRect.left
    if (left + popoverDOMRect.width > window.innerWidth) {
      left = left - popoverDOMRect.width + buttonDOMRect.width
    }
    // use style as classes may also changes other popovers
    popoverStyle = style + ' top: ' + top + 'px; left: ' + left + 'px;'
    realign = false
  }

  const previously_focused = typeof document !== 'undefined' && document.activeElement;

  let popoverStyle = ''

	if (previously_focused) {
		onDestroy(() => previously_focused.focus())
	}
  if (style && !style.endsWith(';')) {
    style += '; '
  }
  

  $: buttonClazz = 'sir-Popover-button ' + (showPopover ? 'sir-Popover-open' : '')
  $: if (realign) {
    // security messure if user realign when popover is closed
    if (showPopover) {
      createPopoverStyle()
    }
  }
</script>

<style>
	.sir-Popover {
		background: var(--red-ui-primary-background);
		position: fixed;
		display:inline-flex;
		flex-direction: column;
    z-index: 999;
		border: 1px solid var(--red-ui-primary-border-color);
		border-radius: 3px;
	}
  
	.sir-Popover-modal-background {
		position: fixed;
		top: 0;
		left: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
		height: 100%;
    z-index: 900;
    cursor: default;
	}
  :global(.sir-Popover .sir-Input-container, .sir-Popover .sir-Button-container) {
    padding: 3px;
  }
  :global(.sir-Popover .sir-Input-container input) {
    width: auto;
  }
  :global(.sir-Popover .sir-Input-container input[type="color"]) {
    min-width: 30px;
    margin-right: 7px;
  }
  :global(.sir-Popover-open > button) {
    z-index: 901;
  }
</style>

{#if showPopover}
  {#if modal}
    <div class="sir-Popover-modal-background" role="none"
      on:click|capture|preventDefault|stopPropagation={close} on:keydown|capture|preventDefault|stopPropagation={close}
    />
  {/if}
  <div id={"sir-Popover-" + id} style={popoverStyle} class="{clazz} sir-Popover" role="none" bind:this={ref}
    on:click|stopPropagation on:keypress|stopPropagation on:keydown|stopPropagation in:fade="{{ duration: 400 }}" 
  >
    <slot />
  </div>
{/if}
{#if button}
  <Button inline {icon} id={"sir-Popover-button-" + id} clazz={buttonClazz} {small} {disabled} {label} {tooltip} {tooltipOptions} 
    on:click={(event) => {
      event.preventDefault()
      event.stopPropagation()
      togglePopover()
    }}
    on:click 
  />
{/if}