<script context="module">
  export const closePopup = (id) => {
    const text = '[SIR] Warning: The closePopup function is depreceated and will be removed with the next major version. Use "showPopup = false" instead.'
    RED.notify(text, {type: 'warning', timeout: 5000 })
    console.warn(text)
  }
</script>

<script> 
  import { getBooleanFrom, getId } from './utils/utils.js'
  import { tick, createEventDispatcher } from 'svelte'

  export let showPopup=false, id, fixed=false, timeout, modal=false, type = '', keyboard={}, focus='', ref


  const dispatch = createEventDispatcher()
  showPopup = getBooleanFrom(showPopup)
  fixed = getBooleanFrom(fixed)
  modal = getBooleanFrom(modal)
  if (!timeout) {
    if (typeof timeout === 'undefined' && !fixed) {
      // no timeout was set
      timeout = 5000
    } else {
      // timeout is 0 or false (or null)
      timeout = 0
    }
    
  }
  id = id || getId()
  let addCloseButton = false
  let nodeRedPopupId

  const wrapCloseFunction = function(fn) {
    return function(){
      try {
        // remove added keyboard buttons
        fn.apply(this, arguments)
        for (const key of Object.keys(keyboard)) {
          RED.keyboard.remove(key)
        }
        showPopup = false
        dispatch('popup-closed', { id })
      } catch (error) {
        console.error(error);
      }
    }
  }

  const createPopup = (popupContent) => {
    // allow svelte to create content
    tick().then(() => {
      const buttons = []
      if (addCloseButton) {
        buttons.push({
          class: 'primary',
          text: 'Okay',
          click: () => nodeRedPopup.close()
        })
      }
      const nodeRedPopup = RED.notify( popupContent || 'No text stated!', { modal, fixed, type, timeout: 0, buttons } )
      nodeRedPopupId = nodeRedPopup.id
      nodeRedPopup.close = wrapCloseFunction(nodeRedPopup.close)
      if (focus) {
        if (!focus.startsWith('node-input-')) {
          focus = 'node-input-' + focus
        }
        if (document.getElementById(focus)) {
          setTimeout(() => document.getElementById(focus).focus(), 100)
        }
      }
      if (fixed) {
        // keyboard commands are only available for fixed popups (all other should only be info)
        for (const [key, func] of Object.entries(keyboard)) {
          RED.keyboard.add("*",key, func)
        }
      }
      dispatch('popup-opened', { id })
      if (timeout) {
        setTimeout(() => nodeRedPopup.close(), timeout)
      }
    })
  }

  $: {
    if (!showPopup) {
      const popup = document.getElementById(nodeRedPopupId)
      // if popup exists, close it via parent (NR offical) function, which is also wrapped by us
      if (popup) {
        popup?.close()
      }
    }
  }
</script>

<style>
  :global(#red-ui-notifications .ui-dialog-buttonset .disabled) {pointer-events: none; }
  :global(.sir-Popup-buttons) {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
  :global(.sir-Popup-buttons .sir-Button-container) {
    margin-left: 1rem;
  }
  :global(.sir-Popup-buttons div) {
    display: inline-flex;
  }
</style>
 
{#if showPopup}
  <div {id} use:createPopup bind:this={ref}>
    <slot />
    {#if $$slots.buttons}
      <div class="ui-dialog-buttonset sir-Popup-buttons">
        <slot name="buttons"></slot>
      </div>
    {/if}
  </div>
{/if}