
<script>
  import Label from './Label.svelte'
  import { getId, getBooleanFrom, getFadeDuration } from './utils/utils.js'
  import { fade } from 'svelte/transition'

  // an alternativ to clazz would be $$props.class, but svelte doc says "It is not generally recommended, as it is difficult for Svelte to optimise"
  export let id, clazz = '', style = "", inline=false, maximize=false, indented=false, fading=true, ref

  id = id || getId()
  if (!id.toString().startsWith("sir-")) id = "sir-Row-" + id
  inline = getBooleanFrom(inline)
  maximize = getBooleanFrom(maximize)
  indented = getBooleanFrom(indented)
  const fadeDuration = getFadeDuration(fading)
</script>

<style>
  .sir-Row {
    clear: both;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .sir-Row-maximize {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
  :global(.sir-Row > *:not(:last-child)) { margin-right: 7px; }
  :global(.sir-Row.inline button:not(:last-child)) { margin-right: 3px; }
  :global(label.sir-Label.sir-Row-label) {
    display: inline-block;
    min-width: 105px;
    width: 105px;
    margin-right: 7px;
    align-items: center;
    margin-bottom: 0px;
    overflow-wrap: break-word;
    
  }
  :global(i, .sir-Row) {
    /* disable click text selection */
    user-select: none; /* Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
</style>

<!-- Warning: fadeDuration with 0 will still activate the fade transition, which can lead to strange and unintended effects-->
<!-- TODO: Find a way for a working fade out which also works if switching two components (e.g. if else block). -->
{#if fadeDuration}
  <div id={id} in:fade="{{ duration: fadeDuration }}" class:sir-Row={!inline} class={clazz} class:sir-Row-maximize={maximize} {style} role="row" tabindex=-1 bind:this={ref}
    on:click on:keypress on:keydown on:dblclick on:mouseenter on:mouseleave
  >
    {#if indented}
      <Label clazz="sir-Row-label" />
    {/if}
    <slot/>
  </div>
{:else}
  <div id={id} class:sir-Row={!inline} class={clazz} class:sir-Row-maximize={maximize} {style} role="row" tabindex=-1 bind:this={ref}
    on:click on:keypress on:keydown on:dblclick on:mouseenter on:mouseleave
  >
    {#if indented}
      <Label clazz="sir-Row-label" />
    {/if}
    <slot/>
  </div>
{/if}
