<script>
  import Row from './Row.svelte'
  import { getId, getBooleanFrom, initInternal, getNewInternal } from './utils/utils.js'
  import Label from './Label.svelte'
  import { createEventDispatcher } from 'svelte'
  import { i18nTranslate } from './utils/i18n.js'

  export let clazz='', disabled=false, error=false, fading=true, i18n, icon, id, inline=false, label, maximize=true, maximizeLabel=false, node, prop, ref, style = "", tooltip, tooltipOptions, value

  id = id || getId(prop)
  inline = getBooleanFrom(inline)
  disabled = getBooleanFrom(disabled)
  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)
  error = getBooleanFrom(error)
  
  let defaults = node ? node._def.defaults : {}
  icon = icon || defaults?.[prop]?.icon || ''
  if (label !== false) {
    label = label || node && (defaults[prop] && defaults[prop].label || prop)
  }
  const dispatch = createEventDispatcher()
  
  let internal = initInternal(defaults[prop], value)
  $: {
    internal = getNewInternal(node?.[prop], value, internal, defaults?.[prop]?.validate, error, node)
    if (internal.updateNode) {
      node[prop] = internal.value
    } else {
      value = internal.value
    }
    if (!internal.init && internal.valueHasChanged) {
      dispatch('change', { id, value: internal.value }, { cancelable: false })
    }
    internal.init = false
  }

  $: { 
    if (label) {
      label = i18nTranslate(RED, node, i18n, label) 
    }
  }
</script>

<style>
  /* .disabled {pointer-events: none;} */
  .sir-Select-maximize {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
  :global(.sir-Input-container select, .sir-Select select) { padding-left: 3px; } /* Text starts like in an input field */
  :global(.sir-Select) {
    display: inline-flex;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    align-items: center;
  }
  :global(.red-ui-editor .sir-Select select:focus) {
    outline-offset: 0px;
  }
</style>

<Row id="sir-Select-{id}-container" clazz="{clazz} sir-Select" {inline} {style} {fading} bind:ref>
  {#if label}
    <Label {id} labelFor="node-input-{id}" {label} {icon} {tooltip} {tooltipOptions} maximize={maximizeLabel} on:mouseenter on:mouseleave/>
  {/if}
    <select id="node-input-{id}" class:sir-Select-maximize={maximize} class:input-error={internal.error} {disabled} placeholder="{node && defaults[prop].label || ''}" 
      bind:value={internal.value} 
      on:mouseenter on:mouseleave
    >
      <slot />
    </select>
</Row>
