<script>
  import Tooltip from './Tooltip.svelte'
  import { getId } from './utils/utils.js'
  import { i18nTranslate } from './utils/i18n.js'
  import { onMount, tick } from 'svelte'

  export let active, clazz='', fixed = false, i18n, id, node, ref, style = '', tabs = {}

  const updateTabs = () => {
    shadowTabs = []
    Object.keys(tabs).forEach( tabKey => {
      if (typeof tabs[tabKey] === 'string') {
        // downward compatible
        shadowTabs.push({
          id: tabKey,
          name: i18nTranslate(RED, node, i18n, tabs[tabKey])
        })
      } else {
        const tabClone = Object.assign({}, tabs[tabKey])
        tabClone.id = tabClone.id || tabKey
        tabClone.name = i18nTranslate(RED, node, i18n, tabClone.name)
        shadowTabs.push(tabClone)
      }
    })
    // tabWidth = (100 / shadowTabs.length) + '%'
    tabWidth = 'calc(' + (100 / shadowTabs.length) + '% - 6px);'
  }

  const showTabContent = async (tabKey) => {
    const contentTabs = tabbedPaneTabsContentDOM.querySelectorAll('div.sir-Tab')
    contentTabs.forEach( tab => {
      tab.style.display = 'none'
    })
    // class is unique here...
    const content = tabbedPaneTabsContentDOM.getElementsByClassName('tab-' + tabKey)[0]
    if (content) {
      content.style.display = 'block'
    } else {
      console.log('[sir] No valid content found for tab key ' + tabKey)
    }
    active = tabKey
    if (fixed) {
      await setTabbedPaneContentSize()
    }
    await tick()
    // if scroll position was saved, try to restore it
    if (scrollPositions.has(active)) {
      tabbedPaneTabsContentDOM.scrollTop = scrollPositions.get(active)
    }

    // removing from DOM also removed NR "data-i18n" translations
    // recover them and set them simply as the elements text
    tabbedPaneTabsContentDOM.querySelectorAll('[data-i18n]').forEach(el => {
      el.innerText = RED._(el.getAttribute('data-i18n'))
    })
  }

  const checkOverflow = (_e, once = false) => {
    let counter = 0
    overflowIntervall = setInterval( function () {
      counter++
      
      if (!tabbedPaneTabsDOM?.scrollWidth) {
        return stopCheckOverflow()
      }
      
      if (tabbedPaneTabsDOM.scrollWidth > tabbedPaneTabsDOM.clientWidth && tabbedPaneTabsDOM.children[0].clientWidth < 100) {
        showScrollButton = true
      } else {
        showScrollButton = false
        tabbedPaneDOM.scrollLeft = 0
      }
      // just in case...
      if (counter > 2000 || once) stopCheckOverflow()
    }, 100)
  }
  const stopCheckOverflow = () => {
    if (overflowIntervall) clearInterval(overflowIntervall)
  }

  const doScroll = (amount) => {
    scrollIntervall = setInterval( function () {
      tabbedPaneDOM.scrollLeft += amount
    }, 100)
  }
  const stopScroll = () => {
    if (scrollIntervall) clearInterval(scrollIntervall)
  }

  const scrollPositions = new Map()
  const resizeHandle = document.getElementsByClassName('red-ui-tray-resize-handle ui-draggable-handle')[0]
  resizeHandle.addEventListener('mousedown', checkOverflow)
  resizeHandle.addEventListener('mouseup', stopCheckOverflow)

  id = id || getId()
  // lets keep the tabs property as an Object to ensure for the user that each key name only exists one time. Intern we can handle it as an array.
  let shadowTabs = []
  let tabWidth = 0
  let showTabTitle = ''
  // Button left and right for scrolling!
  let overflowIntervall
  let tabbedPaneDOM
  let tabbedPaneTabsDOM
  let tabbedPaneTabsContentDOM
  let showScrollButton = false
  let scrollIntervall

  if (Array.isArray(tabs) || typeof tabs !== 'object' || !Object.keys(tabs).length) {
    tabs = { '0': 'No (valid) tabs defined' }
  }

  const setTabbedPaneContentSize = () => {
    // can be triggered twice and tick is too short
    setTimeout(() => {
      const trayRect = document.querySelector('.red-ui-tray-content').getBoundingClientRect()
      const contentRect = tabbedPaneTabsContentDOM.getBoundingClientRect()
      // get the max height from tabbed pane start
      const maxHeight = trayRect.height - (contentRect.top - trayRect.top)
      tabbedPaneTabsContentDOM.style.maxHeight = maxHeight + 'px'
    }, 100)
  }

  onMount(async () => {
    active = active || shadowTabs[0].id
    await showTabContent(active)
    await checkOverflow(null, true)
    if (fixed) {
      window.addEventListener('resize', setTabbedPaneContentSize)
    }
    return () => {
      window.removeEventListener('resize', setTabbedPaneContentSize)
    }
  })

  $: updateTabs(tabs)
</script>

<style>
  .sir-TabbedPane { 
    margin-bottom: 12px; 
    overflow: hidden;
  }
  .sir-TabbedPane ul.sir-TabbedPane-tab-list li {
    min-width: 80px;
  }
  .sir-TabbedPane-scroll-button {
    width: 20px;
    margin-top: 3px;
    position: absolute;
    z-index: 10;
    border: 1px solid var(--red-ui-primary-border-color);
    height: 30px;
    cursor: pointer;
    background: var(--red-ui-primary-background);
  }
  .sir-TabbedPane-scroll-button:hover {
    background: var(--red-ui-secondary-background-hover);
  }
  .sir-TabbedPane-scroll-button-left { left: 0px; }
  .sir-TabbedPane-scroll-button-right {
    top: 0px;
    right: 0px; 
  }
  .sir-TabbedPane-has-scroll-buttons { 
    margin-left: 21px;  
    margin-right: 22px;
  }
  .sir-TabbedPane-scroll-button i { 
    padding-left: 7px; 
    padding-top: 8px;
  }
  .sir-TabbedPane-container { position: relative;}

  /* if fixed tabbed pane (top bar), change the tray css */
  :global(.sir-TabbedPane-tabs-content-fixed) {
    overflow: auto;
    /* height: calc(100% - 45px); */
    padding-right: 7px;
    margin-right: 7px;
  }
  :global(.red-ui-editor .red-ui-tray .red-ui-tray-content:has(.sir-TabbedPane-tabs-content-fixed)) {
     overflow: hidden;
  }
  :global(.red-ui-editor .red-ui-tray #dialog-form:has(.sir-TabbedPane-tabs-content-fixed)) {
    margin-right: 0px;
  }

</style>

<div class="{clazz} sir-TabbedPane-container" {style} bind:this={ref}>
  {#if showScrollButton}
    <div id="sir-TabbedPane-tabs-{id}-scrollLeft" class="sir-TabbedPane-scroll-button sir-TabbedPane-scroll-button-left" role="presentation"
      on:mouseover={() => doScroll(-20)} on:focus={() => doScroll(-20)}
      on:mouseout={stopScroll} on:blur={stopScroll}
    >
      <i class="fa fa-caret-left"/>
    </div>
  {/if}
  <div id="sir-TabbedPane-{id}" class="sir-TabbedPane red-ui-tabs" class:sir-TabbedPane-has-scroll-buttons={showScrollButton} bind:this={tabbedPaneDOM}>
    <ul id="sir-TabbedPane-tabs-{id}" class="sir-TabbedPane-tab-list" bind:this={tabbedPaneTabsDOM} >
      {#each shadowTabs as {id, name, icon}, i (i) } 
        <!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
        <li id="sir-TabbedPane-tab-selection-{id}" class="red-ui-tab" class:active={active === id} style={"width: " + tabWidth} on:click on:keydown on:mouseenter={() => showTabTitle = id} on:mouseleave={() => showTabTitle = ''}>
          <!-- ancor for node-red theme compatibility, id from each scope -->
          <a href={'#'} id="sir-TabbedPane-tabs-{id}" on:click={() => showTabContent(id)} class="red-ui-tab-label" draggable="false">
            {#if icon}
              <i class="red-ui-tab-icon fa fa-{icon}" />
            {/if}
            <span class="red-ui-text-bidi-aware" dir="">{name}</span>
            <span class="red-ui-tabs-fade"/>
            <span class="red-ui-tabs-badges"/>
            {#if showTabTitle === id} 
              <Tooltip tooltip={name} tooltipOptions={{ target: "sir-TabbedPane-tabs-" + id, direction: 'bottom' }}/>
            {/if}
          </a>
        </li>
      {/each}
    </ul>
  </div>
  {#if showScrollButton}
    <div id="sir-TabbedPane-tabs-{id}-scroll-right" class="sir-TabbedPane-scroll-button sir-TabbedPane-scroll-button-right" role="presentation"
      on:mouseover={() => doScroll(20)} on:focus={() => doScroll(20)}
      on:mouseout={stopScroll} on:blur={stopScroll}
    >
      <i class="fa fa-caret-right"/>
    </div>
  {/if}
</div>
<div id="sir-TabbedPane-tabs-content-{id}" class:sir-TabbedPane-tabs-content-fixed={fixed} bind:this={tabbedPaneTabsContentDOM}
  on:scroll={() => scrollPositions.set(active, tabbedPaneTabsContentDOM.scrollTop)}
>
  <slot />
</div>
