<script>
  import { getId } from './utils/utils.js'

  export let active, clazz = '', id, ref, style = '', tab

  id = id || getId()
</script>

<style>
.sir-Tab {
  display: inline-flex;
  flex-direction: column;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}
</style>

<div id={"sir-Tab_" + id} class="{clazz} sir-Tab tab-{tab}" style="display:none; {style}" bind:this={ref} on:click on:keypress on:keydown  role="tabpanel" tabindex=0>
  {#if (typeof active === 'undefined' || active === true || active === tab)}
    <slot />
  {/if}
</div>
