<script>
  import Row from './Row.svelte'
  import Label from './Label.svelte'
  import Tooltip from './Tooltip.svelte'
  import { getBooleanFrom, getId, initInternal, getNewInternal } from './utils/utils.js'
  import { createEventDispatcher } from 'svelte'
  import { i18nTranslate } from './utils/i18n.js'

  export let clazz = '', cols, disabled=false, error=false, fading=true, i18n, icon, id, inline=false, label, maximize=true, maximizeLabel=false, maxlength, node, placeholder, prop, ref, rows=5, style = '', tooltip, tooltipOptions, value

  inline = getBooleanFrom(inline)
  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)
  disabled = getBooleanFrom(disabled)
  error = getBooleanFrom(error)
  id = id || getId(prop)
  const inputFieldId = 'node-input-' + id
  let defaults = node ? node._def.defaults : {}
  icon = icon || defaults?.[prop]?.icon || ''
  if (label !== false) {
    label = label || defaults[prop] && defaults[prop].label || prop
  }
  placeholder = placeholder || defaults.placeholder || ''

  const dispatch = createEventDispatcher()
  let internal = initInternal(defaults[prop], value)

  $: {
    internal = getNewInternal(node?.[prop], value, internal, defaults?.[prop]?.validate, error, node)
    if (internal.updateNode) {
      node[prop] = internal.value
    } else {
      value = internal.value
    }
    // Node-RED official validator adds tooltip to input field if error but won't remove it when the error is fixed -> use sir-Tooltip
    if (internal.error) {
      RED.popover.tooltip(window.$(window.$.escapeSelector('#node-input-' + id)))?.delete()
    }
    if (!internal.init && internal.valueHasChanged) {
      dispatch('change', { id, value: internal.value }, { cancelable: false })
    }
    internal.init = false
  }
  $: { 
    if (label) label = i18nTranslate(RED, node, i18n, label) 
  }
  $: { 
    if (placeholder) placeholder = i18nTranslate(RED, node, i18n, placeholder) 
  }
</script>

<style>
  .sir-Textarea-maximize { 
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
</style>

{#if typeof internal.error === 'string' && internal.error.trim()}
  <Tooltip tooltip={internal.error} tooltipOptions={{ target: inputFieldId, icon: false, direction: "bottom", size: "small", show: true, delay: { show: 150, hide: 150 } }}/>
{/if}
{#if !internal.updateNode || prop}
  <Row id="sir-Textarea-container-{id}" {inline} {clazz} {style} {fading} {maximize} bind:ref>
    {#if label}
      <Label id="sir-Textarea-label-{id}" for="{inputFieldId}" {label} {icon} {tooltip} {tooltipOptions} maximize={maximizeLabel} on:mouseenter on:mouseleave />
    {/if}
    <textarea type="text" id={inputFieldId} {placeholder} {maxlength} {rows} {cols} {disabled} 
      on:mouseenter on:mouseleave on:focus|preventDefault|stopPropagation on:blur
      bind:value={internal.value} class:sir-Textarea={!cols} class:sir-Textarea-maximize={!cols && maximize} class:input-error={internal.error} 
    />
  </Row>
{:else}
  <span class="sir-Textarea-maximize">Error: No property name given.</span>
{/if}