<script>
  import { getId } from './utils/utils.js'
  import { onMount, tick, onDestroy } from 'svelte'
	import { fade } from 'svelte/transition';

  export let id, ref, tooltip = '', tooltipOptions = {}

  // id must be handled first
  id = id || getId()

  const createDefaultStyle = () => {
    style = `width: ${options.width}; max-width: ${options.maxWidth}; `
  }

  const setPosition = async () => {
    const targetPos = document.getElementById(options.target)?.getBoundingClientRect()
    
    if (!targetPos) {
      return
    } 
    createDefaultStyle()
    await tick()
    const tooltip = document.getElementById(id + '_sir-Tooltip')
    if (!tooltip) return
    const tooltipPos = tooltip.getBoundingClientRect()
    // toolbox arrow has 22px width and height (-> 22/2 = 11)
    let left, top
    switch(options.direction) {
      case 'right': 
        left = targetPos.right + 11 + options.offset
        top = targetPos.top + targetPos.height/2 - tooltipPos.height/2
        // style += `left: ${targetPos.right + 11 + options.offset}px; top: ${targetPos.top + targetPos.height/2 - tooltipPos.height/2}px;`
        break
      case 'left':
        left = targetPos.left - tooltipPos.width - 11 - options.offset
        top = targetPos.top + targetPos.height/2 - tooltipPos.height/2
        break
      case 'top': 
        left = targetPos.left + targetPos.width/2 - tooltipPos.width/2 - options.offset
        top = targetPos.top - tooltipPos.height - 11
        break
      case 'bottom':
        left = targetPos.left + targetPos.width/2 - tooltipPos.width/2
        top = targetPos.bottom + options.offset
        break
    }
    tooltip.style.left = left + 'px'
    tooltip.style.top = top + 'px'
  }

  const handleClickOnTarget = () => {
    if (options.trigger === 'click') {
      if (showTooltip) {
        closeTooltip()
      } else {
        document.removeEventListener('click', handleClickOutside)
        document.addEventListener('click', handleClickOutside)
        showTooltip = true
      }
    }
  }
  
  const handleClickOutside = (event) => {
    if (!event.target?.closest('.sir-Tooltip')) {
      closeTooltip()
    }
  }
  
  const handleClickOnTooltip = (event) => {
    // && event.target.tagName?.toLowerCase() !== 'a'
    if (options.closeOnClick) {
      closeTooltip()
    }
  }

  const handleMouseEnter = () => {
    // prevent multiple execution
    if (hoverClosingTimeout) {
      clearTimeout(hoverClosingTimeout)
      hoverClosingTimeout = null
    }
    if (options.trigger === 'hover' && !showTooltip && !hoverOpeningTimeout) {
      hoverOpeningTimeout = setTimeout(() => {
        showTooltip = true
        if (options.autoClose) {
          autoCloseTimeout = setTimeout(() => closeTooltip(), options.autoClose)
        }
      }, options.delay.show)
    }
  }

  const handleMouseLeave = () => {
    if (options.trigger === 'hover') {
      hoverClosingTimeout = setTimeout(() => {
        clearTimeout(hoverOpeningTimeout)
        hoverOpeningTimeout = null
        closeTooltip()
        if (autoCloseTimeout) {
          clearTimeout(autoCloseTimeout)
          autoCloseTimeout = null
        }
      }, options.delay.hide)
    }
  }

  const closeTooltip = () => {
    showTooltip = false
    document.removeEventListener('click', handleClickOutside)
  }

  const changeLinkTarget = () => {
    // default open links in new tab
    if (tooltipOptions.openLinkInNewTab !== false) {
      tooltip = tooltip.replaceAll('<a href="', '<a target="_blank" "rel"="noopener noreferrer" href="')
    }
  }

  const options = {
    target: tooltipOptions.target || id + '_sir-Tooltip-icon', // DOM id of target
    direction: tooltipOptions.direction || 'right', // top, bottom, left, right
    trigger: tooltipOptions.trigger || 'hover', // hover, click
    delay: tooltipOptions.delay || (tooltipOptions.trigger === 'click' ) ? { show: 150, hide: 150} : { show: 500, hide: 150 },
    autoClose: Number(tooltipOptions.autoClose) || 0,
    width: tooltipOptions.width || 'auto',
    maxWidth: tooltipOptions.maxWidth || '700px',
    size: tooltipOptions.size || 'default', // small, default, large
    offset: Number(tooltipOptions.offset) || 0, // distance to parent
    closeOnClick: tooltipOptions?.closeOnClick !== false, // only relevant if trigger is click (default true)
    class: tooltipOptions.class || '',
    interactive: tooltipOptions.interactive !== false // if hover, tooltip won't hide if mouseover (default true)
  }
  
  let showTooltip = !!tooltipOptions.show
  let autoCloseTimeout
  let hoverOpeningTimeout
  let hoverClosingTimeout
  let style= ''
  let classes = `red-ui-popover sir-Tooltip red-ui-popover-${options.direction} red-ui-popover-size-${options.size} ${options.class} `
  let currentTooltip = ''
  let tooltipDOM
  let waitForDOM

  tooltip = RED.utils.renderMarkdown(RED.utils.sanitize(tooltip))
  changeLinkTarget()
  currentTooltip = tooltip
  
  // prevent confusion with NR-Tooltip which uses jQuery
  if (options.target.startsWith('#')) {
    options.target = options.target.substring(1)
  }



  onMount(() => {
    // add hover/click event to target if there is no icon
    if (!tooltipOptions.icon) {
      let counter = 0
      waitForDOM = setInterval(function () {
        const targetPos = document.getElementById(options.target)
        if (targetPos) {
          clearInterval(waitForDOM)
          if (options.trigger === 'click') {
            targetPos.addEventListener('click', handleClickOnTarget)
            targetPos.addEventListener('keypress', handleClickOnTarget)
          } else if (options.trigger === 'hover') {
            targetPos.addEventListener('mouseenter', handleMouseEnter)
            targetPos.addEventListener('mouseleave', handleMouseLeave)
            // if mouse is already hovering? (special case in which a an element e.g. button will be created on hovering the row)
            if (targetPos.matches(':hover')) {
              handleMouseEnter()
            }
          }
        } else if (counter > 20) {
          clearInterval(waitForDOM)
          console.log('[Sir] No target for tooltip found (' + options.target + ').')
        } else {
          counter++
        }
      }, 100)
    }
    document.querySelector('body').addEventListener("wheel", closeTooltip)
  })

  onDestroy(() => {
    try {
      // if an Tooltip was created and removed very fast (e.g. hover shows/hides element)
      clearInterval(waitForDOM)
    } catch (e) {
      // do nothing
    }
  })


  $: if (showTooltip && tooltip) {
    if (currentTooltip !== tooltip) {
      tooltip = RED.utils.renderMarkdown(RED.utils.sanitize(tooltip))
      changeLinkTarget()
      currentTooltip = tooltip
    }
    setPosition()
    
    // if NR and SIR wants to show an input error we suppress the tooltip from NR
    if (!document.getElementById('_temp_sir_Tooltip_Style_')) {
      const styleSheet = document.createElement('style')
      styleSheet.id = '_temp_sir_Tooltip_Style_'
      styleSheet.innerText = `body > .red-ui-popover { display: none !important; }`
      document.head.appendChild(styleSheet)
    }
  } else {
    document.getElementById('_temp_sir_Tooltip_Style_')?.remove()
  }
</script>

<style>
  .sir-Tooltip {
    display: block;
    height: auto;
    position: fixed;
    z-index: 1000;
    cursor: default;
  }
  .sir-Tooltip.red-ui-popover-bottom {
    margin-top: 12px;
  }
  :global(.red-ui-editableList-container .sir-Tooltip .red-ui-popover-content li) {
    background: var(--red-ui-popover-background);
    border-bottom: 0;
    margin-bottom: 6px;
  }
  :global(.sir-Tooltip p:last-child) {
    margin-bottom: 0px;
  }
  .sir-Tooltip-icon {
    margin-left: 3px;
    cursor: help;
  }
  .sir-Tooltip-icon.sir-Tooltip-clickable {
    cursor: pointer
  }
  .sir-Tooltip-clickable:hover {
    color: var(--red-ui-secondary-text-color);
  }
  :global(.sir-Tooltip a) {
    color: var(--red-ui-text-color-link) !important;
  }
  :global(.sir-Tooltip a:hover) {
    text-decoration: underline;
  }
</style>

<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
{#if tooltipOptions.icon}
  <i id={id + '_sir-Tooltip-icon'} class="fa fa-{tooltipOptions.icon} sir-Tooltip-icon" class:sir-Tooltip-clickable={options.trigger === "click"} role="button" tabindex=-1
    on:click|self|preventDefault|stopPropagation={handleClickOnTarget} on:keypress|self|preventDefault|stopPropagation={handleClickOnTarget} 
    on:mouseenter|self={handleMouseEnter} on:mouseleave|self={handleMouseLeave}
  >
    {#if showTooltip}
      <div id={id + '_sir-Tooltip'} role="tooltip" class={classes} in:fade={{ delay: options.delay.show, duration: 500 }} out:fade={{ delay: options.delay.hide, duration: 500 }} bind:this={ref}
        on:click|stopPropagation={handleClickOnTooltip} on:click|stopPropagation on:keypress
        on:mouseenter|self={handleMouseEnter} on:mouseleave|self={handleMouseLeave}
      >
        <div class="red-ui-popover-content">
          {@html tooltip}
        </div>
      </div>
    {/if}
  </i>
{:else if showTooltip}
  <!-- Tooltip without a default icon -->
  <div id={id + '_sir-Tooltip'} role="tooltip" class={classes} in:fade={{ delay: options.delay.show, duration: 500 }} out:fade={{ delay: options.delay.hide, duration: 500 }} bind:this={ref}
      on:click|stopPropagation={handleClickOnTooltip} on:click|stopPropagation on:keypress
      on:mouseenter|self={handleMouseEnter} on:mouseleave|self={handleMouseLeave}
    >
      <div class="red-ui-popover-content">
        {@html tooltip}
      </div>
    </div>    
{/if}