<script>
  // Terminology (from wikipedia)
  // A node is a structure which may contain a value or condition, or represent a separate data structure (which could be a tree of its own). 
  // Each node in a tree has zero or more child nodes, which are below it in the tree.

  import { getId, getBooleanFrom } from './utils/utils.js'
  import Row from './Row.svelte'
  import Collapsible from './Collapsible.svelte'
  import Label from './Label.svelte';
  import { onMount, tick } from 'svelte'

  export let clazz = "", collapsible = true, collapsed = true, draggable = false, hoverable = true, hovered, id, icon, label = "", indented = 12, openOnlyOnIcon = false, ref,
         selectable = true, selected, style = "", tooltip, tooltipOptions

  collapsible = getBooleanFrom(collapsible)
  collapsed = getBooleanFrom(collapsed)
  hoverable = getBooleanFrom(hoverable)
  selectable = getBooleanFrom(selectable)
  indented = Number(indented)
  if (isNaN(indented)) {
    console.error("TreeNode " + id + " indented is not a number!")
    indented = 12
  }
  id = id || getId()

  // iterate ast to set depth for each child -> neccessary to show full row if hovered/selected
  const setDepthStylingCollapsible = (el, depth) => {
    depth++
    el.setAttribute('depth', depth)
    const calcIndented = (depth * indented) + 6 + "px"
    if (el.classList.contains("sir-TreeNode")) {
      // is collapsible or row?
      if (el.firstChild.classList.contains("sir-Collapsible")) {
        el.getElementsByClassName("sir-ComponentHeader")[0].style.paddingLeft = depth ? calcIndented : ""
        const children = el.getElementsByClassName("slotDiv")?.[0]?.children || []
        for (let subEl of children) {
          setDepthStylingCollapsible(subEl, depth)
        }
      } else {
        el.firstChild.style.paddingLeft = calcIndented
      }
    } else {
      el.style.paddingLeft = calcIndented
    }
    depth--
  }

  const createTreeDepth = async () => {
    await tick()
    const thisTreeNode = document.getElementById("sir-TreeNode-" + id)
    // if element was destroyed in the meantime (e.g. hide by search)
    const parent = thisTreeNode?.parentElement?.closest(".sir-TreeNode")
    if (parent) {
      let parentDepth = Number(parent.getAttribute('depth'))
      setDepthStylingCollapsible(parent, parentDepth - 1)
    }
  }

  const hoverElement = (elId) => {
    if (hoverable) {
      if (hoverId) hoverId.classList.remove("hover")
      hoverId = elId
      if (typeof hoverId === "string") hoverId = document.getElementById(hoverId)
      if (hoverId) hoverId.classList.add("hover")
    }
  }
 
  const selectElement = (elId) => {
    if (selectable) {
      if (selectId) selectId.classList.remove("selected", "focus")
      selectId = elId
       if (typeof selectId === "string") selectId = document.getElementById(selectId)
      if (selectId) selectId.classList.add("selected", "focus")
    }
  }
  
  let hoverId
  let selectId
  let elementToMark

  onMount( () => {  
    createTreeDepth()
    elementToMark = collapsible ? document.querySelector('#sir-Collapsible-' + id + ' .sir-ComponentHeader') : document.querySelector('#sir-Row-' + id)
  })

  $: selectElement(selected)
  $: hoverElement(hovered)
</script>

<style>
  :global(.sir-TreeNode .hover) { background-color: var(--red-ui-list-item-background-hover); }
  :global(.sir-TreeNode .selected) { background: var(--red-ui-list-item-background-selected); }
  :global(.sir-TreeNode .focus) {
    outline: 1px solid var(--red-ui-form-input-border-color-focus) !important;
    outline-offset: -1px;
  }
  :global(
    [id^='sir-TreeNode-'].sir-TreeNode > .sir-Collapsible, 
    [id^='sir-TreeNode-'].sir-TreeNode > .sir-Collapsible .sir-ComponentHeader,
    [id^='sir-TreeNode-'].sir-TreeNode .sir-Collapsible .sir-Row, 
    [id^='sir-TreeNode-'].sir-TreeNode > .sir-Row) { 
      margin-bottom: 0px !important;
  }
  :global([id^='sir-TreeNode-'].sir-TreeNode .sir-Collapsible .slotDiv) {
    margin-top: 0px;
  }
  :global([id^='sir-TreeNode-'].sir-TreeNode .sir-Collapsible .headerContent label) {
    max-width: 100%;
  }
  .sir-TreeNode { 
    width: 100%;
    cursor: pointer;
     /* disable click text selection */
    user-select: none; /* Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
  /* container padding */
  :global(.sir-TreeNode > .sir-TreeNode-not-collapsed-content,
  .sir-TreeNode > .sir-Collapsible > .sir-ComponentHeader,
  .sir-TreeNode > .sir-Collapsible > .sir-Collapsible-content > div:not(.sir-TreeNode)) {
    padding-left: 6px;
    padding-right: 6px;
  }
</style>


<div id="sir-TreeNode-{id}" class="{clazz} sir-TreeNode" {style} {draggable} role="tree" tabindex="0" depth="0" bind:this={ref}
  on:mouseleave={() => hovered = ""} on:mouseleave on:dragstart|stopPropagation on:dragend 
  on:dragover|preventDefault|stopPropagation on:dragenter|preventDefault|stopPropagation on:drop|preventDefault|stopPropagation
>
  {#if !collapsible}
    <Row {id} clazz="sir-TreeNode-not-collapsed-content" on:mouseenter={() => hovered = elementToMark} on:click={() => selected = elementToMark} on:click on:dblclick>
      {#if label}
        <Label id="sir-TreeNode-{id}" labelFor="sir-TreeNode-{id}" {label} {icon} maximize bind:tooltip {tooltipOptions} />
      {/if}
      <slot />
    </Row>
  {:else}
    <Collapsible {label} {icon} {id} bind:collapsed {openOnlyOnIcon} maximize indented={false} on:click on:dblclick
      on:mouseenter={() => hovered = elementToMark} 
      on:click={(e) => {
        selected = elementToMark
        createTreeDepth(e)
      }}
    >
      <slot name="header" slot="header" />
      <slot />
    </Collapsible>
  {/if}
</div>	
