<script>
  import Row from './Row.svelte'
  import PlainTypedInput from './PlainTypedInput.svelte'
  import { getBooleanFrom, getId } from './utils/utils.js'

  export let clazz = '', disabled=false, error=false, fading=true, i18n, icon, id, indented=false, inline=false, label, maximize=true, maximizeLabel=false, node, placeholder, prop, ref, style = '', tooltip, tooltipOptions, type, typeProp, types, value

  id = id || getId(prop)
  inline = getBooleanFrom(inline)
  disabled = getBooleanFrom(disabled)
  indented = getBooleanFrom(indented)
  maximize = getBooleanFrom(maximize)
  maximizeLabel = getBooleanFrom(maximizeLabel)
</script>

<style>
  :global(.sir-TypedInput-container.sir-TypedInput-maximize) {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }
  :global(.sir-TypedInput-container) {
    display: inline-flex;
    align-items: center;
  }
</style>

<Row id="sir-TypedInput-container-{id}" clazz={'sir-TypedInput-container ' + clazz} {inline} {fading} {style} {maximize} bind:ref>
  <PlainTypedInput bind:node bind:prop bind:typeProp bind:value bind:type bind:types {placeholder} {icon} {error} bind:label {maximize} {maximizeLabel} {id} {i18n} {indented} bind:disabled bind:tooltip {tooltipOptions} on:click on:change on:mouseenter on:mouseleave on:click on:focus on:blur on:editor-closed />
</Row>
