<script>
  export let label="", list1 = [], list2 = []
  // Attention: In a real project you will need to import from 'svelte-integration-red/components'.
  import { Input, EditableList, Collapsible} from '../components'
</script>

<Collapsible icon="list" label={label} collapsed>
  <Input label="Input" placeholder="dummy input"/>
  <EditableList sortable removable elements={list1} let:element={current1} height="100%">
    <Collapsible collapsed icon="cube" label={current1.name}>
      <Input label="Input" placeholder="dummy input"/>
      <EditableList sortable removable elements={list2} let:element={current2} height="100%">
        <Input inline label={current2.name}/>
      </EditableList>
    </Collapsible>
  </EditableList>
</Collapsible>